body {
  background-color: #333;
}

canvas {
  background-color: rgb(107, 63, 12);
  display: block;
  margin: auto;
}

#buttons {
  background-color: rgb(200, 200, 200);
  height: 50px;
  margin: auto;
}

.peg {
  margin: 5px 11px;
  padding: 0px;
  height: 40px;
  width: 40px;
  border-radius: 1000%;
  border: 2px solid black;
}