body {
  background-color: #333;
}

canvas {
  background-color: rgb(107, 63, 12);
  display: block;
  margin: auto;
}

#gutter {
  background-color: rgb(200, 200, 200);
  height: 50px;
  margin: auto;
}

#peg1, #peg2, #peg3, #peg4 {
  margin: 5px 18px;
  padding: 0px;
  background-color: black;
  height: 40px;
  width: 40px;
  border-radius: 1000%;
  border: 2px solid black;
}